#General
#-------------------------------------------------------------------------------
node_modules
example
yarn.lock

#OSX
#-------------------------------------------------------------------------------
.DS_STORE