#General
#-------------------------------------------------------------------------------
node_modules/
.vscode
dist

#OSX
#-------------------------------------------------------------------------------
.DS_STORE