#General
#-------------------------------------------------------------------------------
node_modules
yarn.lock
.vscode

#OSX
#-------------------------------------------------------------------------------
.DS_STORE