// out: ../css/styles.css, sourcemap: false, compress: true

@background-color: #FFFFFF;

body {
  background-color: @background-color;
  margin: 0;
  padding: 0;
  
  div#game {
    margin: 0;
    padding: 0;
  }
}
